@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    
    height: auto;
    width: 428px;
}

.background {
    background-color: rgb(20, 20, 20);
    background-image: linear-gradient( to bottom, rgb(168, 1, 168) , #ff6b6b);

    height: auto;
    width: 428px;

    justify-content: space-around;

    padding-top: 50px;
    padding-bottom: 50px;
}
header {
    height: 100px;
    width: 100%;
}

header h1 {
    text-align: center;
    color: white;
}

.picture {
    height: 100px;
    width: 100px;

    margin-left: auto;
    margin-right: auto;
}

.picture img {
    height: 100px;
    width: 100px;

    border-radius: 100%;
}

.username {
    height: 35px;
    width: 200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 25px;

    background-color: white;
}

.username input {
    width: 100%;
    height: 100%;

    border: 0px;

    outline: none;

    border-radius: 25px;

    text-align: center;
    font-size: 16px;
}

.password {
    height: 35px;
    width: 200px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 25px;

    background-color: white;   
}

.password input {
    height: 100%;
    width: 100%;

    border: 0px;

    outline: none;
    
    border-radius: 25px;

    text-align: center;
    font-size: 16px;
}

.register {
    margin-top: 75px;

    text-align: center;
}

.registerText {
    color: white;
}

.registerHere {
    color: blue;
    cursor: pointer;

    text-decoration: underline;
}

.touchId {
    margin-top: 100px;

    text-align: center;
}

.touchId p {
    color: white;
}

.touchId img {
    margin-top: 25px;
    height: 75px;
}

/********************
        Main Page
********************/
.subpage {
    background-color: black;

    width: 428px;
    height: auto;

    padding-bottom: 300px;

    overflow-x: hidden;

    margin-left: 400px;
}

.destination {
    background-color: rgb(31, 31, 31);

    height: 40px;
    width: 100%;

    margin-bottom: 15px;
}

.destination h1 {
    text-align: center;

    color: #ecf0f1;

    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.toplist {
    background-color: rgb(31, 31, 31);
    
    height: auto;
    width: 100%;

    padding-top: 15px;

    margin-bottom: 15px;
}

.text h1{
    color: #ecf0f1;

    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;

    margin-left: 7%;
}

.text p {
    color: #9c9c9c;

    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;

    margin-left: 7%;
}

.scroll {
    height: auto;
    width: 700px;

    overflow-x: scroll;
    overflow-y: auto;

    margin-top: 10px;

    justify-content: space-evenly;
}

.playlist img {
    height: 100px;
    width: 100px;
}

.playlist p {
    color: #ecf0f1;

    padding-top: 5px;
    padding-bottom: 10px;
}

.featured {
    background-color: rgb(31, 31, 31);
    
    height: auto;
    width: 100%;
    
    padding-top: 15px;
}

.theArtist {
    background-color: rgb(31, 31, 31);

    height: 219px;
    width: 100%;

    margin-top: 15px;
}

.artistText h1{
    color: #ecf0f1;

    text-align: center;
}

.popularArtist {
    width: 100%;
    height: 182px;

    margin-left: 5px;
    margin-right: 5px;
    
}


/******************
        Artist
******************/

.artist {
    background-color: black;

    width: 428px;
    height: auto;

    padding-top: 50px;
    padding-bottom: 300px;

    margin-left: 400px;
}

.topp img {
    height: 75px;
    width: 75px;

    margin-left: 42%;
    margin-right: auto;

    border-radius: 100%;
}

/********************
        Reusable
********************/

.addFlex {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}