@charset "UTF-8";
body {
    background-color: white;
}
header {
    background-color: #d35400;
    width: 100%;
    height: 225px;
}

nav{
    background-color: #bd4b00;
    width: 100%;
    height: 50px;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 350px;
}

.container aside {
    background-color: #a84300;
    flex: 1;
    height: 750px;
}

.container main {
    flex: 5;
    background-color: #933a00;
    height: 750px;
}

footer {
    background-color: #7e3200;
    width: 100%;
    height: 200px;
}