@charset "utf-8";

body {
    background-color: #bdc3c7;
}

h1 {
    font-size: 54px;
    text-align: center;
    font-weight: 700;
}

ul{
    background-color: #7f8c8d;
    padding: 20px;
    box-shadow: 4px 4px 4px black;
    font-size: 20px;
}