<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
        <nav class="addFlex">
            <section class="useless"></section>
            <section class="useless addFlex">
                <section class="signIn addFlex">
                    <p>Sign In</p>
                    <input type="text" placeholder="Search...">
                </section>
                <section class="account cursor"><p>Account</p></section>
                <section class="contact cursor"><p>Contact</p></section>
            </section>
        </nav>
        <main>
            <section class="logo"><h1>logo</h1></section>
            <section class="name"><h1>American Airlines</h1></section>
            <section class="call flexColumn">
                <h1>call</h1>
                <h1>1-800</h1>
            </section>
        </main>
        <section class="search addFlex">
            <section class="packages cursor"> <h1>PACKAGES</h1></section>
            <section class="destinations cursor"><h1>DESTINATIONS</h1></section>
            <section class="flights cursor"><h1>FLIGHTS</h1></section>
            <section class="accommodations cursor"><h1>ACCOMMODATIONS</h1></section>
            <section class="searchBar addFlex">
                <h1>SEARCH</h1>
                <input type="text" placeholder="Search..">
            </section>
        </section>
        <section class="bottom addFlex">
            <section class="left flexColumn">
                <section class="featuredPackages"><h1>Featured Packages</h1></section>
                <section class="info addFlex">
                    <section class="information"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod labore.</p></section>
                    <section class="smallImages"><img src=""></section>
                </section>
                <section class="info addFlex">
                    <section class="information"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod labore.</p></section>
                    <section class="smallImages"><img src=""></section>
                </section>
                <section class="info addFlex">
                    <section class="information"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod labore.</p></section>
                    <section class="smallImages"><img src=""></section>
                </section>
                <section class="info addFlex">
                    <section class="information"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod labore.</p></section>
                    <section class="smallImages"><img src=""></section>
                </section>
            </section>
            <section class="center flexColumn">
                <section class="featured addFlex">
                    <section class="text">
                        <h1>Featured Destination</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in coluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepeur sint occaecat cupidatat non proident, sunt in culpa qui offcia deserunt mollit anim id est laborum, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </section>
                    <section class="destinationImage flexColumn">
                        <section class="image"></section>
                        <section class="caption"><h1>Caption</h1></section>
                    </section>
                </section>
                <section class="scroll flexColumn">
                    <section class="imageScroll addFlex">
                        <section class="scrollImages"></section>
                        <section class="scrollImages"></section>
                        <section class="scrollImages"></section>
                        <section class="scrollImages"></section>
                        <section class="scrollImages"></section>
                        <section class="scrollImages2"></section>
                    </section>
                    <section class="arrows addFlex">
                        <section class="arrowLeft"><img src="assets/images/arrow-left.png"></section>
                        <section class="arrowRight"><img src="assets/images/arrow-right.png"></section>
                    </section>
                </section>
            </section>
            <section class="right flexColumn">
                <section class="time"><p>Time Zone Map Currency Calculator Weather</p></section>
                <section class="ad1"></section>
                <section class="ad2"></section>
            </section>
        </section>
    </body>
</html> 
