<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Layout 1</title>
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
        <header></header>
        <nav></nav>
        <main class="addFlex">
            <section class="left">
                <section class="post1 posts"></section>
                <section class="post2 posts"></section>
                <section class="post3 posts"></section>
            </section>
            <section class="right">
                <section class="newsletter sectionRight"></section>
                <section class="read sectionRight"></section>
                <section class="credibility sectionRight"></section>
                <main class="addFlex">
                    <section class="banner sectionRight"></section>
                    <section class="service sectionRight"></section>
                </main>
                <section class="links sectionRight"></section>
            </section>
        </main>    
        <footer></footer>
    </body>
</html>