<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Layout 2</title>
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
        <header></header>
        <nav></nav>
        <main class="addFlex">
            <section class="left placement">
                <section class="deal"></section>
                <section class="partners"></section>
                <section class="catergorizedDeal"></section>
            </section>
            <section class="center placement">
                <section class="membership"></section>
                <section class="petInsurance"></section>
            </section>
            <section class="right placement">
                <section class="description"></section>
                <section class="blog"></section>
                <section class="discussion"></section>
            </section>
            <footer></footer>
        </main>
    </body>
</html>