<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Layout 2</title>
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
        <header>
            <section class="logo"></section>
            <section class="empty"></section>
            <section class="banner"></section>
        </header>
        <nav></nav>
        <main class="addFlex">
            <section class="left placement">
                <section class="deal size"></section>
                <section class="partners size "></section>
                <section class="catergorizedDeal size"></section>
            </section>
            <section class="center placement">
                <section class="membership size"></section>
                <section class="petInsurance size"></section>
            </section>
            <section class="right placement">
                <section class="description size"></section>
                <section class="blog size"></section>
                <section class="discussion size"></section>
            </section>
        </main>
        <footer></footer>
    </body>
</html>