@charset "UTF-8";

body {
    background-color: #ff3232;
}
header {
    height: 100px;
    width: 100%;
    background-color: red;
    margin-bottom: 15px;
    
}

nav {
    height: 50px;
    width: 100%;
    background-color: red;
    margin-bottom: 15px;
}

main {
    height: 500px;
    width: 100%;
}





/**************
Reusable
**************/

.addFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.placement {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}