<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Layout 3</title>
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
        <header>
            <section class="image">
                <img class="icon" src="assets/images/navPicture.jpg">
            </section>
            <nav class="addFlex">
                <ul class="addFlex">
                    <li>Start</li>
                    <li>About</li>
                    <li>Contact</li>
                    <li>Issues</li>
                </ul>
            </nav>
        </header>
        <section class="imageScroller">
            <img src="assets/images/Furniture.jpg">
            <section><h1>Layout 3</h1></section>
        </section>
        <main>
            <section class="products">
                <section class="productInfo">
                    <section class="upper"> <img src="assets/images/hurts.webp"></section>
                    <section class="lower"> <h1>Alex</h1></section>
                    <section class="text"> <a>Hurts, vit (695:-)</a></section>
                </section>
                <section class="productInfo">
                    <section class="upper"> <img src="assets/images/soffa.webp"></section>
                    <section class="lower"> <h1>Söderhamn</h1></section>
                    <section class="text"> <a>Soffa, mörkgrå (5 990:-)</a></section>
                </section>
                <section class="productInfo">
                    <section class="upper"> <img src="assets/images/stol.webp"></section>
                    <section class="lower"> <h1>Ingolf</h1></section>
                    <section class="text"> <a>Barstol, vit (599:-)</a></section>
                </section>
                <section class="productInfo">
                    <section class="upper"> <img src="assets/images/tvBänk.webp"></section>
                    <section class="lower"> <h1>Bestå</h1></section>
                    <section class="text"> <a>Tv-bänk, svartbrun (2 740:-)</a></section>
                </section>
            </section>
            <section class="products">
                <section class="productInfo">
                    <section class="upper"> <img src="assets/images/bokhylla.webp"></section>
                    <section class="lower"> <h1>Billy</h1></section>
                    <section class="text"> <a>Bokhylla, vit (495:-)</a></section>
                </section>
                <section class="productInfo">
                    <section class="upper"> <img src="assets/images/bord.webp"></section>
                    <section class="lower"> <h1>Vangsta</h1></section>
                    <section class="text"> <a>Utdragbart bord, vit (995:-)</a></section>
                </section>
                <section class="productInfo">
                    <section class="upper"> <img src="assets/images/byrå.webp"></section>
                    <section class="lower"> <h1>Malm</h1></section>
                    <section class="text"> <a>Byrå, vit (1 195:-)</a></section>
                </section>
                <section class="productInfo">
                    <section class="upper"> <img src="assets/images/garderod.webp"></section>
                    <section class="lower"> <h1>Pax</h1></section>
                    <section class="text"> <a>Garderob, vit (1 365:-)</a></section>
                </section>
            </section>
        </main>
        <footer class="addFlex">
            <section class="contactInfo">
                <h1>Contact Info</h1>
                <p>Mail: Support@gmail.com</p>
            </section>
            <section class="copywright">
                <h1>Copywright</h1>
                <p>hej</p>
            </section>
            <section class="siteMap">
                <h1> Site Map</h1>
                <p>hej</p>
            </section>
            <section class="socialIcons">
                <h1>Social Icons</h1>
                <section class="icons">
                    <img src="assets/images/instagram.png">
                    <img src="assets/images/twitter.jpg">
                    <img src="assets/images/facebook.png">
                </section>
            </section>
        </footer>
    </body>
</html>