<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Layout 3</title>
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
        <header>
            <section class="image">
                <img src="assets/images/navPicture.jpg">
            </section>
            <nav class="addFlex">
                <ul class="addFlex">
                    <li>Start</li>
                    <li>About</li>
                    <li>Contact</li>
                    <li>Issues</li>
                </ul>
            </nav>
        </header>
        <section class="imageScroller">
            <img src="assets/images/Furniture.jpg" class="scroll">
        </section>
        <main>
            <section class="products">
                <section class="product1 productInfo">
                    <section class="upper"> <img src=""></section>
                    <section class="lower"> <h1>Rubrik</h1></section>
                    <section class="text"> <a>beskrivning</a></section>
                </section>
                <section class="product2 productInfo">
                    <section class="upper"> <img src=""></section>
                    <section class="lower"> <h1>Rubrik</h1></section>
                    <section class="text"> <a>beskrivning</a></section>
                </section>
                <section class="product3 productInfo">
                    <section class="upper"> <img src=""></section>
                    <section class="lower"> <h1>Rubrik</h1></section>
                    <section class="text"> <a>beskrivning</a></section>
                </section>
                <section class="product4 productInfo">
                    <section class="upper"> <img src=""></section>
                    <section class="lower"> <h1>Rubrik</h1></section>
                    <section class="text"> <a>beskrivning</a></section>
                </section>
            </section>
            <section class="products">
                <section class="product5 productInfo">
                    <section class="upper"> <img src=""></section>
                    <section class="lower"> <h1>Rubrik</h1></section>
                    <section class="text"> <a>beskrivning</a></section>
                </section>
                <section class="product6 productInfo">
                    <section class="upper"> <img src=""></section>
                    <section class="lower"> <h1>Rubrik</h1></section>
                    <section class="text"> <a>beskrivning</a></section>
                </section>
                <section class="product7 productInfo">
                    <section class="upper"> <img src=""></section>
                    <section class="lower"> <h1>Rubrik</h1></section>
                    <section class="text"> <a>beskrivning</a></section>
                </section>
                <section class="product8 productInfo">
                    <section class="upper"> <img src=""></section>
                    <section class="lower"> <h1>Rubrik</h1></section>
                    <section class="text"> <a>beskrivning</a></section>
                </section>
            </section>
        </main>
        <footer class="addFlex">
            <section class="contactInfo">
                <h1>Contact Info</h1>
            </section>
            <section class="copywright">
                <h1>Copywright</h1>
            </section>
            <section class="siteMap">
                <h1> Site Map</h1>
            </section>
            <section class="socialIcons">
                <h1>Social Icons</h1>
            </section>
        </footer>
    </body>
</html>